{% include "home/header.html" %}

	<div class="row">

		<div class="col-sm-4">
		</div>

		<div class='col-sm-4'>
			<br>
			<br>

			<form class="form-signup" role="form" action="{% url 'settings:editInputs' %}" method="POST">
				<center>
		        <h2 class="form-signup-heading">Declare Inputs:</h2>
		        </center>
		        <br>
		        {% csrf_token %}

				<div class="table-responsive">
					<table class="table table-condensed">
					{{ form.as_table }}
					</table>
				</div>

			<center>
			<button class="btn btn-group-lg btn-primary" type="button" onClick="location.href='{% url 'home:index' %}'">Cancel</button>
			<button class="btn btn-group-lg btn-primary" type="submit">Save Changes</button>
			</form>
			</center>

		</div>

		<div class="col-sm-4">
		</div>

	</div>

{% include "home/footer.html" %}