{% include "home/header.html" %}
{% load index %}

	<div class="row">

		<div class="col-sm-4">
		</div>

		<div class='col-sm-4'>
			<br>
			<br>

			<form class="form-signup" role="form" action="{% url 'settings:editOPEX' %}" method="POST">
				<center>
		        <h2 class="form-signup-heading">Edit OPEX:</h2>
		        </center>
		        <br>
		        {% csrf_token %}

				<input type="hidden" value="{{ LOM }}" name="LOM" />

		        <br>
				<br>

		</div>

		<div class="col-sm-4">
		</div>

	</div>

	<div class="table-responsive">
  		<table class="table table-bordered">
    		<thead> 
    			<tr> 
    				<th>        </th>
    				{% for i in "x"|rjust:LOM %}
    					<th>Year {{ forloop.counter0|add:"1" }}</th>
    				{% endfor %}
    			</tr> 
    		</thead>
    		<tbody>
    			<tr>
    				<th>Mining</th>
    				{% for i in "x"|rjust:LOM %}
    					<td><input id="id_year{{ forloop.counter0|add:'1' }}Mining" name="year{{ forloop.counter0|add:'1' }}Mining" placeholder="Max 2 Decimals" step="0.00000001" type="number" {% if mining|index:forloop.counter0 is not None %} value="{{ mining|index:forloop.counter0|floatformat:'-8' }}" {% endif %}>
                        </td>
    				{% endfor %}
    			</tr>
    			<tr>
    				<th>Infrastructure</th>
    				{% for i in "x"|rjust:LOM %}
    					<td><input id="id_year{{ forloop.counter0|add:'1' }}Infrastructure" name="year{{ forloop.counter0|add:'1' }}Infrastructure" placeholder="Max 2 Decimals" step="0.00000001" type="number" {% if infrastructure|index:forloop.counter0 is not None %} value="{{ infrastructure|index:forloop.counter0|floatformat:'-8' }}" {% endif %}>
                        </td>
    				{% endfor %}
    			</tr>
    			<tr>
    				<th>Stockpile LG</th>
    				{% for i in "x"|rjust:LOM %}
    					<td><input id="id_year{{ forloop.counter0|add:'1' }}StockpileLG" name="year{{ forloop.counter0|add:'1' }}StockpileLG" placeholder="Max 2 Decimals" step="0.00000001" type="number" {% if stockpileLG|index:forloop.counter0 is not None %} value="{{ stockpileLG|index:forloop.counter0|floatformat:'-8' }}" {% endif %}>
                        </td>
    				{% endfor %}
    			</tr>
    			<tr>
    				<th>Dewatering</th>
    				{% for i in "x"|rjust:LOM %}
    					<td><input id="id_year{{ forloop.counter0|add:'1' }}Dewatering" name="year{{ forloop.counter0|add:'1' }}Dewatering" placeholder="Max 2 Decimals" step="0.00000001" type="number" {% if dewatering|index:forloop.counter0 is not None %} value="{{ dewatering|index:forloop.counter0|floatformat:'-8' }}" {% endif %}>
                        </td>
    				{% endfor %}
    			</tr>
    			<tr>
    				<th>Processing</th>
    				{% for i in "x"|rjust:LOM %}
    					<td><input id="id_year{{ forloop.counter0|add:'1' }}Processing" name="year{{ forloop.counter0|add:'1' }}Processing" placeholder="Max 2 Decimals" step="0.00000001" type="number" {% if processing|index:forloop.counter0 is not None %} value="{{ processing|index:forloop.counter0|floatformat:'-8' }}" {% endif %}>
                        </td>
    				{% endfor %}
    			</tr>
    			<tr>
    				<th>Product Hauling</th>
    				{% for i in "x"|rjust:LOM %}
    					<td><input id="id_year{{ forloop.counter0|add:'1' }}ProductHauling" name="year{{ forloop.counter0|add:'1' }}ProductHauling" placeholder="Max 2 Decimals" step="0.00000001" type="number" {% if hauling|index:forloop.counter0 is not None %} value="{{ hauling|index:forloop.counter0|floatformat:'-8' }}" {% endif %}>
                        </td>
    				{% endfor %}
    			</tr>
    			<tr>
    				<th>Load-out and Rail Loop</th>
    				{% for i in "x"|rjust:LOM %}
    					<td><input id="id_year{{ forloop.counter0|add:'1' }}LoadoutRailLoop" name="year{{ forloop.counter0|add:'1' }}LoadoutRailLoop" placeholder="Max 2 Decimals" step="0.00000001" type="number" {% if loadOutRailLoop|index:forloop.counter0 is not None %} value="{{ loadOutRailLoop|index:forloop.counter0|floatformat:'-8' }}" {% endif %}>
                        </td>
    				{% endfor %}
    			</tr>
    			<tr>
    				<th>G&amp;A Site</th>
    				{% for i in "x"|rjust:LOM %}
    					<td><input id="id_year{{ forloop.counter0|add:'1' }}GASite" name="year{{ forloop.counter0|add:'1' }}GASite" placeholder="Max 2 Decimals" step="0.00000001" type="number" {% if GASite|index:forloop.counter0 is not None %} value="{{ GASite|index:forloop.counter0|floatformat:'-8' }}" {% endif %}>
                        </td>
    				{% endfor %}
    			</tr>
    			<tr>
    				<th>G&amp;A (Room &amp; Board and FIFO)</th>
    				{% for i in "x"|rjust:LOM %}
    					<td><input id="id_year{{ forloop.counter0|add:'1' }}GARoomBoardFIFO" name="year{{ forloop.counter0|add:'1' }}GARoomBoardFIFO" placeholder="Max 2 Decimals" step="0.00000001" type="number" {% if GARoomBoardFIFO|index:forloop.counter0 is not None %} value="{{ GARoomBoardFIFO|index:forloop.counter0|floatformat:'-8' }}" {% endif %}>
                        </td>
    				{% endfor %}
    			</tr>
    			<tr>
    				<th>Rail Transportation</th>
    				{% for i in "x"|rjust:LOM %}
    					<td><input id="id_year{{ forloop.counter0|add:'1' }}RailTransportation" name="year{{ forloop.counter0|add:'1' }}RailTransportation" placeholder="Max 2 Decimals" step="0.00000001" type="number" {% if railTransport|index:forloop.counter0 is not None %} value="{{ railTransport|index:forloop.counter0|floatformat:'-8' }}" {% endif %}>
                        </td>
    				{% endfor %}
    			</tr>
    			<tr>
    				<th>G&amp;A (Corporate)</th>
    				{% for i in "x"|rjust:LOM %}
    					<td><input id="id_year{{ forloop.counter0|add:'1' }}GACorporate" name="year{{ forloop.counter0|add:'1' }}GACorporate" placeholder="Max 2 Decimals" step="0.00000001" type="number" {% if GACorp|index:forloop.counter0 is not None %} value="{{ GACorp|index:forloop.counter0|floatformat:'-8' }}" {% endif %}>
                        </td>
    				{% endfor %}
    			</tr>
    			<tr>
    				<th>Royalties</th>
    				{% for i in "x"|rjust:LOM %}
    					<td><input id="id_year{{ forloop.counter0|add:'1' }}Royalties" name="year{{ forloop.counter0|add:'1' }}Royalties" placeholder="Max 2 Decimals" step="0.00000001" type="number" {% if royalties|index:forloop.counter0 is not None %} value="{{ royalties|index:forloop.counter0|floatformat:'-8' }}" {% endif %}>
                        </td>
    				{% endfor %}
    			</tr>
    			<tr>
    				<th>Transportation</th>
    				{% for i in "x"|rjust:LOM %}
    					<td><input id="id_year{{ forloop.counter0|add:'1' }}Transportation" name="year{{ forloop.counter0|add:'1' }}Transportation" placeholder="Max 2 Decimals" step="0.00000001" type="number" {% if transportation|index:forloop.counter0 is not None %} value="{{ transportation|index:forloop.counter0|floatformat:'-8' }}" {% endif %}>
                        </td>
    				{% endfor %}
    			</tr>
    			<tr>
    				<th>G&amp;A</th>
    				{% for i in "x"|rjust:LOM %}
    					<td><input id="id_year{{ forloop.counter0|add:'1' }}GA" name="year{{ forloop.counter0|add:'1' }}GA" placeholder="Max 2 Decimals" step="0.00000001" type="number" {% if GA|index:forloop.counter0 is not None %} value="{{ GA|index:forloop.counter0|floatformat:'-8' }}" {% endif %}>
                        </td>
    				{% endfor %}
    			</tr>
    			<tr>
    				<th>Shipping Cost</th>
    				{% for i in "x"|rjust:LOM %}
    					<td><input id="id_year{{ forloop.counter0|add:'1' }}ShippingCost" name="year{{ forloop.counter0|add:'1' }}ShippingCost" placeholder="Max 2 Decimals" step="0.00000001" type="number" {% if shipping|index:forloop.counter0 is not None %} value="{{ shipping|index:forloop.counter0|floatformat:'-8' }}" {% endif %}>
                        </td>
    				{% endfor %}
    			</tr>
				<tr>
    				<th>OPEX (CAD$/t)</th>
    				{% for i in "x"|rjust:LOM %}
    					<td><input id="id_year{{ forloop.counter0|add:'1' }}OpexPT" name="year{{ forloop.counter0|add:'1' }}OpexPT" placeholder="Max 2 Decimals" step="0.00000001" type="number" {% if opexPT|index:forloop.counter0 is not None %} value="{{ opexPT|index:forloop.counter0|floatformat:'-8' }}" {% endif %}>
						</td>
    				{% endfor %}
    			</tr>
    		</tbody>
  		</table>
	</div>

	<div class="row">
		<div class="col-sm-4">
		</div>

		<div class="col-sm-4">
            <center>
            <button class="btn btn-group-lg btn-primary" type="button" onClick="location.href='{% url 'home:index' %}'">Cancel</button>
            <button class="btn btn-group-lg btn-primary" type="submit">Save Changes</button>
            </form>
            </center>
		</div>

		<div class="col-sm-4">
		</div>
	</div>

	<p></p>

{% include "home/footer.html" %}