{% include "home/header.html" %}
{% load index %}

	<div class="row">

		<div class="col-sm-4">
		</div>

		<div class='col-sm-4'>
			<br>
			<br>

			<form class="form-signup" role="form" action="{% url 'settings:editPrices' %}" method="POST">
				<center>
		        <h2 class="form-signup-heading">Edit Prices (US$/t):</h2>
		        </center>
		        <br>
		        {% csrf_token %}

				<div class="table-responsive">
					<table class="table table-condensed">
					{{ form.as_table }}
					</table>
				</div>

				<center>
				<button class="btn btn-group-lg btn-primary" type="button" onClick="history.go(-1);return true;">Back</button>
				<button class="btn btn-group-lg btn-primary" type="submit">Save Changes</button>
				</form>
				</center>
			</form>
		 


		</div>

		<div class="col-sm-4">
		</div>

	</div>


{% include "home/footer.html" %}