{% include "home/header.html" %}

{% load index %}

    <div class="row">

        <div class="col-sm-4">
        </div>

        <div class='col-sm-4'>
            <br>
            <br>

            <form class="form-signup" role="form" action="{% url 'settings:editSmelter' %}" method="POST">
                <center>
                <h2 class="form-signup-heading">Edit Smelter Terms:</h2>
                </center>
                <br>
                {% csrf_token %}

                <input type="hidden" value="{{ commNameList }}" name="commNameList" />

                <br>
                <br>

        </div>

        <div class="col-sm-4">
        </div>

    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead> 
                <tr> 
                    <th>        </th>
                    {% for commName in nameList %}
                        <th>{{ commName }}</th>
                    {% endfor %}
                </tr> 
            </thead>
            <tbody>
                <tr>
                    <th>Low Grade Min Grade</th>
                    {% for id in idList %}
                        <!-- <td><input id="id_idList{{ forloop.counter0|add:'1' }}LGMinGrade" name="idList{{ forloop.counter0|add:'1' }}LGMinGrade" placeholder="Max 2 Decimals" step="0.01" type="number" {% if LGMinGrade|index:forloop.counter0 is not None %} value="{{ LGMinGrade|index:forloop.counter0|floatformat:'-2' }}" {% endif %}></td> -->
						<td><input id="id_LGMinGrade{{ id }}" name="LGMinGrade{{ id }}" placeholder="Max 2 Decimals" step="0.01" type="number" {% if LGMinGrade|index:forloop.counter0 is not None %} value="{{ LGMinGrade|index:forloop.counter0|floatformat:'-2' }}" {% endif %}></td>
					{% endfor %}
                </tr>
                <tr>
                    <th>Low Grade Max Grade</th>
                    {% for id in idList %}
                        <td><input id="id_LGMaxGrade{{ id }}" name="LGMaxGrade{{ id }}" placeholder="Max 2 Decimals" step="0.01" type="number" {% if LGMaxGrade|index:forloop.counter0 is not None %} value="{{ LGMaxGrade|index:forloop.counter0|floatformat:'-2' }}" {% endif %}></td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Low Grade Min Penalty</th>
                    {% for id in idList %}
                        <td><input id="id_LGMinPenalty{{ id }}" name="LGMinPenalty{{ id }}" placeholder="Max 2 Decimals" step="0.01" type="number" {% if LGMinPenalty|index:forloop.counter0 is not None %} value="{{ LGMinPenalty|index:forloop.counter0|floatformat:'-2' }}" {% endif %}></td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Low Grade Max Penalty</th>
                    {% for id in idList %}
                        <td><input id="id_LGMaxPenalty{{ id }}" name="LGMaxPenalty{{ id }}" placeholder="Max 2 Decimals" step="0.01" type="number" {% if LGMaxPenalty|index:forloop.counter0 is not None %} value="{{ LGMaxPenalty|index:forloop.counter0|floatformat:'-2' }}" {% endif %}></td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Low Grade Premium</th>
                    {% for id in idList %}
                        <td><input id="id_LGPremium{{ id }}" name="LGPremium{{ id }}" placeholder="Max 2 Decimals" step="0.01" type="number" {% if LGPremium|index:forloop.counter0 is not None %} value="{{ LGPremium|index:forloop.counter0|floatformat:'-2' }}" {% endif %}></td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>High Grade Min Grade</th>
                    {% for id in idList %}
                        <td><input id="id_HGMinGrade{{ id }}" name="HGMinGrade{{ id }}" placeholder="Max 2 Decimals" step="0.01" type="number" {% if HGMinGrade|index:forloop.counter0 is not None %} value="{{ HGMinGrade|index:forloop.counter0|floatformat:'-2' }}" {% endif %}></td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>High Grade Max Grade</th>
                    {% for id in idList %}
                        <td><input id="id_HGMaxGrade{{ id }}" name="HGMaxGrade{{ id }}" placeholder="Max 2 Decimals" step="0.01" type="number" {% if HGMaxGrade|index:forloop.counter0 is not None %} value="{{ HGMaxGrade|index:forloop.counter0|floatformat:'-2' }}" {% endif %}></td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>High Grade Min Penalty</th>
                    {% for id in idList %}
                        <td><input id="id_HGMinPenalty{{ id }}" name="HGMinPenalty{{ id }}" placeholder="Max 2 Decimals" step="0.01" type="number" {% if HGMinPenalty|index:forloop.counter0 is not None %} value="{{ HGMinPenalty|index:forloop.counter0|floatformat:'-2' }}" {% endif %}></td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>High Grade Max Penalty</th>
                    {% for id in idList %}
                        <td><input id="id_HGMaxPenalty{{ id }}" name="HGMaxPenalty{{ id }}" placeholder="Max 2 Decimals" step="0.01" type="number" {% if HGMaxPenalty|index:forloop.counter0 is not None %} value="{{ HGMaxPenalty|index:forloop.counter0|floatformat:'-2' }}" {% endif %}></td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>High Grade Premium</th>
                    {% for id in idList %}
                        <td><input id="id_HGPremium{{ id }}" name="HGPremium{{ id }}" placeholder="Max 2 Decimals" step="0.01" type="number" {% if HGPremium|index:forloop.counter0 is not None %} value="{{ HGPremium|index:forloop.counter0|floatformat:'-2' }}" {% endif %}></td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Increments</th>
                    {% for id in idList %}
                        <td><input id="id_increments{{ id }}" name="increments{{ id }}" placeholder="Max 2 Decimals" step="0.01" type="number" {% if increments|index:forloop.counter0 is not None %} value="{{ increments|index:forloop.counter0|floatformat:'-2' }}" {% endif %}></td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
		<div class="col-sm-4">
		</div>

		<div class="col-sm-4">
            <center>
            <button class="btn btn-group-lg btn-primary" type="button" onClick="history.go(-1);return true;">Cancel</button>
            <button class="btn btn-group-lg btn-primary" type="submit">Save Changes</button>
            </form>
            </center>
		</div>

		<div class="col-sm-4">
		</div>
	</div>

	<p></p>



{% include "home/footer.html" %}