{% include "home/header.html" %}
{% load get_item %}

    <div class="row">

        <div class="col-sm-4">
        </div>

        <div class='col-sm-4'>
            <br>
            <br>

            <form class="form-signup" role="form" action="{% url 'settings:editSmelter' %}" method="POST">
                <center>
                <h2 class="form-signup-heading">Edit Smelter Term:</h2>
                </center>
                <br>
                {% csrf_token %}

                <input type="hidden" value="{{ LOM }}" name="LOM" />

                <br>
                <br>

        </div>

        <div class="col-sm-4">
        </div>

    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead> 
                <tr> 
                    <th>        </th>
                    {% for commName in nameList %}
                        <th>{{ commName }}</th>
                    {% endfor %}
                </tr> 
            </thead>
            <tbody>

            {% for curr in numStockpiles %}
                <tr>
                    <th>Stockpile {{ curr }} Min Grade (%)</th>
                    {% for id in idList %}
                        <td><input id="id_Stockpile{{ curr }}MinGrade{{ id }}" name="Stockpile{{ curr }}MinGrade{{ id }}" placeholder="Between 1-100%" step="0.01" type="number" max="100" value="{{minGrades|get_item:curr|get_item:id}}" required=""></td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Stockpile {{ curr }} Max Grade (%)</th>
                    {% for id in idList %}
                        <td><input id="id_Stockpile{{ curr }}MaxGrade{{ id }}" name="Stockpile{{ curr }}MaxGrade{{ id }}" placeholder="Between 1-100%" step="0.01" type="number" max="100" value="{{maxGrades|get_item:curr|get_item:id}}" required=""></td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Stockpile {{ curr }} Min Penalty</th>
                    {% for id in idList %}
                        <td><input id="id_Stockpile{{ curr }}MinPenalty{{ id }}" name="Stockpile{{ curr }}MinPenalty{{ id }}" placeholder="Max 2 Decimals" step="0.01" type="number" value="{{minPenalties|get_item:curr|get_item:id}}" required=""></td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Stockpile {{ curr }} Max Penalty</th>
                    {% for id in idList %}
                        <td><input id="id_Stockpile{{ curr }}MaxPenalty{{ id }}" name="Stockpile{{ curr }}MaxPenalty{{ id }}" placeholder="Max 2 Decimals" step="0.01" type="number" value="{{maxPenalties|get_item:curr|get_item:id}}" required=""></td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Stockpile {{ curr }} Penalty Between Min and Max</th>
                    {% for id in idList %}
                        <td><input id="id_Stockpile{{ curr }}MinMaxPenalty{{ id }}" name="Stockpile{{ curr }}MinMaxPenalty{{ id }}" placeholder="Max 2 Decimals" step="0.01" type="number" value="{{minMaxPenalties|get_item:curr|get_item:id}}" required=""></td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Stockpile {{ curr }} Premium</th>
                    {% for id in idList %}
                        <td><input id="id_Stockpile{{ curr }}Premium{{ id }}" name="Stockpile{{ curr }}Premium{{ id }}" placeholder="Max 2 Decimals" step="0.01" type="number" value="{{premiums|get_item:curr|get_item:id}}" required=""></td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Stockpile {{ curr }} Increments (%)</th>
                    {% for id in idList %}
                        <td><input id="id_Stockpile{{ curr }}Increments{{ id }}" name="Stockpile{{ curr }}Increments{{ id }}" placeholder="Between 1-100%" step="0.01" type="number" value="{{increments|get_item:curr|get_item:id}}" required=""></td>
                    {% endfor %}
                </tr>
            {% endfor %}
                
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-sm-4">
        </div>

        <div class="col-sm-4">
            <center>
            <button class="btn btn-group-lg btn-primary" type="button" onClick="location.href='{% url 'home:index' %}'">Cancel</button>
            <button class="btn btn-group-lg btn-primary" type="submit">Save Changes</button>
            </form>
            </center>
        </div>

        <div class="col-sm-4">
        </div>
    </div>

    <p></p>

{% include "home/footer.html" %}
