{% include "home/header.html" %}
{% load index %}
{% load humanize %}

	<div class="row">

		<div class="col-sm-4">
		</div>

		<div class='col-sm-4'>
			<br>
			<br>

			<form class="form-signup" role="form" action="{% url 'transportation:index' %}" method="POST">
				<center>
		        <h2 class="form-signup-heading">Transportation:</h2>
		        </center>
		        <br>
		        {% csrf_token %}

				<input type="hidden" value="{{ LOM }}" name="LOM" />

		        <br>
				<br>

		</div>

		<div class="col-sm-4">
		</div>

	</div>

	<div class="table-responsive">
  		<table class="table table-bordered">
    		<thead> 
    			<tr> 
    				<th>        </th>
    				{% for i in "x"|rjust:LOM %}
    					<th>Year {{ forloop.counter0|add:"1" }}</th>
    				{% endfor %}
                    <th>Total</th>
    			</tr> 
    		</thead>
    		<tbody>
    			<tr>
    				<th>Product Hauling</th>
    				{% for i in "x"|rjust:LOM %}
    					<td>$ <input id="id_year{{ forloop.counter0|add:'1' }}ProductHauling" name="year{{ forloop.counter0|add:'1' }}ProductHauling" type="text" {% if hauling|index:forloop.counter0 is not None %} value="{{ hauling|index:forloop.counter0|floatformat:'-2'|intcomma }}" {% endif %}>
                        </td>
    				{% endfor %}
                    <td>$ <input id="id_totalProductHauling" name="totalProductHauling" type="text" value="{{ totalHauling|intcomma }}">
                    </td>
    			</tr>
    			<tr>
    				<th>Rail Transportation</th>
    				{% for i in "x"|rjust:LOM %}
    					<td>$ <input id="id_year{{ forloop.counter0|add:'1' }}RailTransportation" name="year{{ forloop.counter0|add:'1' }}RailTransportation" type="text" {% if railTransport|index:forloop.counter0 is not None %} value="{{ railTransport|index:forloop.counter0|floatformat:'-2'|intcomma }}" {% endif %}>
                        </td>
    				{% endfor %}
                    <td>$ <input id="id_totalRailTransportation" name="totalRailTransportation" type="text" value="{{ totalRailTransport|intcomma }}">
                    </td>
    			</tr>
    			<tr>
    				<th>Transportation</th>
    				{% for i in "x"|rjust:LOM %}
    					<td>$ <input id="id_year{{ forloop.counter0|add:'1' }}Transportation" name="year{{ forloop.counter0|add:'1' }}Transportation" type="text" {% if transportation|index:forloop.counter0 is not None %} value="{{ transportation|index:forloop.counter0|floatformat:'-2'|intcomma }}" {% endif %}>
                        </td>
    				{% endfor %}
                    <td>$ <input id="id_totalTransportation" name="totalTransportation" type="text" value="{{ totalTransportation|intcomma }}">
                    </td>
    			</tr>
    			<tr>
    				<th>Shipping Cost</th>
    				{% for i in "x"|rjust:LOM %}
    					<td>$ <input id="id_year{{ forloop.counter0|add:'1' }}ShippingCost" name="year{{ forloop.counter0|add:'1' }}ShippingCost" type="text" {% if shipping|index:forloop.counter0 is not None %} value="{{ shipping|index:forloop.counter0|floatformat:'-2'|intcomma }}" {% endif %}>
                        </td>
    				{% endfor %}
                    <td>$ <input id="id_totalShippingCost" name="totalShippingCost" type="text" value="{{ totalShipping|intcomma }}">
                    </td>
    			</tr>
    		</tbody>
  		</table>
	</div>

	<div class="row">
		<div class="col-sm-4">
		</div>

		<div class="col-sm-4">
            <center>
            <button class="btn btn-group-lg btn-primary" type="button" onClick="location.href='{% url 'home:index' %}'">Cancel</button>
            </form>
            </center>
		</div>

		<div class="col-sm-4">
		</div>
	</div>

	<p></p>

{% include "home/footer.html" %}