{% include "home/header.html" %}

{% if mine_registered != None %}

<!-- 	<p>value of company ID: {{ companyID }} </p>
	<p>value of mine ID: {{ mineID }} </p> -->

	<div class="row">

		<div class="col-sm-2">
		</div>

		<div class="col-sm-8">	
			<div class="progress">
			  <div class="progress-bar progress-bar-info" style="width: 33.3%">
			    Step 1 of 3
			  </div>
			  <div class="progress-bar progress-bar-info" style="width: 33.3%">
			    Step 2 of 3
			  </div>
			  <div class="progress-bar progress-bar-info" style="width: 33.3%">
			    Step 3 of 3
			  </div>
			</div>
		</div>

		<div class="col-sm-2">
		</div>

	</div>

	<div class="row">

		<div class="col-sm-4">
		</div>

		<div class='col-sm-4'>
			<br>
			<br>

			<form class="form-signup" role="form" action="{% url 'signup:registerUser' %}" method="POST">
				<center>
		        <h2 class="form-signup-heading">User Info</h2>
		        </center>
		        <br>
		        {% csrf_token %}

		        {% if errorMsg != None %}
		        	<center>
		        	<p>{{ errorMsg }}</p>
		        	</center>
		        {% endif %}

		        {% for field in form %}

				    <label class="control-label" for="id_{{ field.name }}" hidden>{{ field.label }}</label>
				    <input class="form-control"
				    	{% if field.field.widget.input_type == "password" %}
				    		type="password"
				    	{% else %}
				    		type="text"
				    	{% endif %}
				        placeholder="{{ field.label }}"
				        id="{{ field.name }}"
				        name="{{ field.name }}"
				        maxlength="{{ field.field.max_length }}"
				        {% if field.field.required %}
				        	required
				        {% endif %}
					> 

				{% endfor %}

				<input type="hidden" value="{{ companyID }}" name="companyID" />
				<input type="hidden" value="{{ mineID }}" name="mineID" />

		        <br>
		        <button class="btn btn-lg btn-primary btn-block" type="submit">Next</button>
		    </form>

		    <br>
		    <center>
		    	<a href="/home">Cancel</a>
		    </center>

		</div>

		<div class="col-sm-4">
		</div>

	</div>

{% else %}

	<p>ERROR!</p>

{% endif %}

{% include "home/footer.html" %}
